@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
$PTSansCaption: "PT Sans Caption", sans-serif;
$NunitoSans: "Nunito Sans", sans-serif;

@mixin GreenButton {
  border-radius: 4px;
  background: rgb(26, 62, 62);
  padding: 12px 24px 12px 24px;
  color: rgb(253, 253, 253);
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  font-family: $NunitoSans;
}

@mixin WhiteButton {
  border-radius: 4px;
  background: rgb(253, 253, 253);
  padding: 16px 36px 16px 36px;
}

@mixin Container {
  max-width: 1180px;
  margin: 0 auto;
}

@mixin HeaderText {
  color: rgb(253, 253, 253);
  font-family: $PTSansCaption;
  font-size: 50px;
  font-weight: 100;
  line-height: 150%;
  letter-spacing: 2%;
  text-align: left;
}

@mixin Black14T {
  color: rgb(0, 0, 0);
  font-family: $NunitoSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@mixin Black18T{
  color: rgb(24, 18, 30);
  font-family: $NunitoSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

@mixin Black24T {
  color: rgb(24, 18, 30);
  font-family: $NunitoSans;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

@mixin Black32T {
  color: rgb(24, 18, 30);
  font-family: $NunitoSans;
  font-size: 32px;
  font-weight: 800;
  line-height: 120%;
}

@mixin White14T{
  color: rgb(253, 253, 253);
  font-family: $NunitoSans;
  font-size: 14px;
  font-weight: 200;
  line-height: 18px;
  text-align: left;
}

@mixin White16T{
  color: rgb(253, 253, 253);
  font-family: $NunitoSans;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}

@mixin White18T{
  color: rgb(253, 253, 253);
  font-family: $NunitoSans;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
}

@mixin White24T{
  color: rgb(253, 253, 253);
  font-family: $NunitoSans;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
}

@mixin Yellow14T {
  color: rgb(242, 190, 34);
  font-family: $NunitoSans;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

@mixin Yellow24T {
  color: rgb(242, 190, 34);
  font-family: $NunitoSans;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
}

