@import '../../../Mixins-and-Defolts/mixins';


.form-holder {
  .header-h1 {
    @include HeaderText;
  }
  .form {
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 10px;
    backdrop-filter: blur(6px);
    width: 100%;
    height: 161px;
  
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 42px 0px 42px;
    margin-top: 40px;
  
    .form-block {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .input {
        width: 270px;
        padding: 15px 16px;
        align-items: center;
        border: 1px solid rgb(225, 227, 228);
        border-radius: 8px;
  
        display: flex;
        justify-content: space-between;
        .place-holder {
          @include White16T;
        }
      }
      .label {
        @include White14T;
      }
    }
    .form-button {
      @include WhiteButton;
    }
  }
  .form-link {
    @include WhiteButton;
    align-self: center;
  }
}

@media (min-width: 781px) and (max-width: 1150px) {
  .form-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    .header-h1 {
      @include HeaderText;
      font-size: 35px;
      text-align: center
    }
    .form-link {
      @include WhiteButton;
    }
  }
}

@media (max-width: 780px) {
  .form-holder {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .form-link {
      @include WhiteButton;
      align-self: flex-start;
    }
  }
}
