@import '../../../Mixins-and-Defolts/mixins';
.form {
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 10px;
  backdrop-filter: blur(6px);
  width: 100%;
  height: 161px;

  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 40px 0px 0px 43px;
  .form-block {
    @include White18T;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .input {
      width: 270px;
      padding: 14px 16px;
      align-items: center;
      border: 1px solid rgb(225, 227, 228);
      border-radius: 8px;
      .location {
        width: 100%;
        padding-right: 8px;
        &:focus {
          outline: none;
        }
        option {
          color: black;
        }
      }
      .date {
        width: 100%;
        &[type="date"]::-webkit-calendar-picker-indicator {
          filter: invert(1); 
        }
      }
      .participants {
        width: 210px;
        padding-right: 8px;
      }
    }
  }
  .form-button {
    @include WhiteButton;
    @include White18T;
    color: black;
  }
}

