@import '../../../Mixins-and-Defolts/mixins';

.footer-end-holder {
  @include Container;
  @include White14T;
  display: flex;
  justify-content: space-between;
  .politics {
    text-decoration: underline;
    transition: 0.3s;
    &:hover {
      color: rgb(79, 182, 182);
    }
  }
}

@media (max-width: 570px) {
  .footer-end-holder {
    flex-direction: column;
    align-items: center;
  }
}